<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block th:insert="~{/header.html::header}"></th:block>
<head>
<title>오예스종합병원｜진료과</title>
<link rel="stylesheet" th:href="@{/css/departmentList.css}">

<script type="text/javascript">
	function ch(keyword, clickedElement) {
		jQuery.post('/department/search', 'keyword=' + keyword, function(data) {
			jQuery('#frag').replaceWith(data)
		});
		jQuery('.btn_list li').removeClass('selected');
		jQuery(clickedElement).parent('li').addClass('selected');
	}

	/* [2025-09-15 Gemini 최종 수정] 클릭 드롭다운 JQuery 코드 시작 */
	jQuery(document).ready(function() {
	    var $triggers = jQuery('ul.top_util_list > li > span');

	    // feCommon.js에 의해 추가된 기존 호버 이벤트를 강제로 제거하여 충돌 방지
	    $triggers.off('mouseenter focusin');

	    $triggers.on('click', function(event) {
	        // 다른 스크립트의 이벤트 및 브라우저 기본 동작을 모두 중지
	        event.preventDefault();
	        event.stopImmediatePropagation();

	        var $dropdown = jQuery(this).siblings('ul.drop_list');
	        var wasOpen = $dropdown.hasClass('show');

	        // 모든 드롭다운을 먼저 닫음
	        jQuery('ul.drop_list').removeClass('show');

	        // 클릭한 드롭다운이 닫혀 있었다면, 다시 연다
	        if (!wasOpen) {
	            $dropdown.addClass('show');
	        }
	    });

	    // 문서 전체를 클릭했을 때 드롭다운을 닫는 기능
	    jQuery(document).on('click', function(event) {
	        // 클릭된 요소가 드롭다운 메뉴의 일부가 아닐 경우에만 닫음
	        if (!jQuery(event.target).closest('.top_util_list > li').length) {
	            jQuery('ul.drop_list').removeClass('show');
	        }
	    });
	});
	/* [2025-09-15 Gemini 최종 수정] 클릭 드롭다운 JQuery 코드 끝 */
</script>

</head>
<body>
	<div layout:fragment="contentFragment" id="container">
		<div class="top_bar">
			<ul class="top_util_list">
				<li><a th:href="@{/index}"><span class="home_icon"></span></a></li>
				<li><span>진료과</span>
					<ul class="drop_list">
						<li th:each="link : ${navLinks}">
							<a th:href="@{${link.url}}" th:text="${link.text}">메뉴 항목</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class=center_div>
			<section id="department">
				<h2 class="title">진료과</h2>
				<ul class="choose_btn_list">
					<li class="selected"><a
						th:href="@{/department/departmentList}"> 진료과 </a></li>
					<li><a th:href="@{/center/centerList}"> 센터 </a></li>
				</ul>
				<div class="search_btn_wrap">
					<div class="search_btn">
						<span>초성검색</span>
						<ul class="btn_list">
							<li><a onclick="ch('ㄱ', this)">ㄱ</a></li>
							<li><a onclick="ch('ㄴ', this)">ㄴ</a></li>
							<li><a onclick="ch('ㄷ', this)">ㄷ</a></li>
							<li><a onclick="ch('ㄹ', this)">ㄹ</a></li>
							<li><a onclick="ch('ㅁ', this)">ㅁ</a></li>
							<li><a onclick="ch('ㅂ', this)">ㅂ</a></li>
							<li><a onclick="ch('ㅅ', this)">ㅅ</a></li>
							<li><a onclick="ch('ㅇ', this)">ㅇ</a></li>
							<li><a onclick="ch('ㅈ', this)">ㅈ</a></li>
							<li><a onclick="ch('ㅊ', this)">ㅊ</a></li>
							<li><a onclick="ch('ㅋ', this)">ㅋ</a></li>
							<li><a onclick="ch('ㅌ', this)">ㅌ</a></li>
							<li><a onclick="ch('ㅍ', this)">ㅍ</a></li>
							<li><a onclick="ch('ㅎ', this)">ㅎ</a></li>
							<li><a onclick="ch('AZ', this)">A-Z</a></li>
							<li class="selected"><a
								th:href="@{/department/departmentList}">전체</a></li>
						</ul>
					</div>
				</div>
				<div class="choose_grid_wrap">
					<ul class="choose_grid_list" id="frag">
						<li th:each="department : ${departmentList}"><a
							th:href="@{/department/departmentDetail(department_id=${department.department_id})}">
								<div class="img_wrap">
									<img th:src="@{/images/}+${department.department_small_img}">
								</div>
								<p>[[${department.department_name}]]</p>
						</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</body>
</html>