<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">
<th:block th:insert="~{/header.html::header}"></th:block>
<link rel="stylesheet" th:href="@{/css/outpatient.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 class="title">외래진료예약</h1>
		<p>
			<b class="color_red"> *환자 본인 예약만 가능합니다.<br> *만 14세 미만 소아청소년의
				경우, 소아청소년 환자 명의로 회원가입 후 보호자(법적 대리인) 명의로 인증하시어 예약을 진행해주시기 바랍니다.<br>
				*이대목동병원은 의료전달체계가 필요한 종합전문요양기관(3차 진료기관)으로 1차 또는 2차(의원, 병원) 진료기관에서 발급한
				요양급여의뢰서(진료의뢰서)나 건강검진, 건강진단결과서를 제출해야 건강보험 적용을 받을 수 있습니다. 단, 의료급여환자는
				모든 진료과에 대해 2차진료기관(병원급)에서 발급한 의료급여의뢰서를 제출해야 의료급여 적용을 받을 수 있습니다.
			</b>
		</p>
		<ul id="step_wrap">
			<li class="selected">
				<p class="step">STEP.01</p>
				<p class="step_title">진료과/센터 선택</p>
				<span class="step_chk"></span>
			</li>
			<li>
				<p class="step">STEP.02</p>
				<p class="step_title">의료진 선택</p>
				<span class="step_chk"></span>
			</li>
			<li>
				<p class="step">STEP.03</p>
				<p class="step_title">예약일/시간 선택</p>
				<span class="step_chk"></span>
			</li>
		</ul>
</body>
</html>